.Rproj.user
.Rhistory
.RData
.Ruserdata

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

.DS_Store

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf




#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf




#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf




#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf




#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf




#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf




#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*